.field-title{
    color: gray;
    font-size: 12px;
}
.value {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.field-value{
    font-size: 14px;
   min-height: 20px;
    height: auto;
    word-break: break-word;
}
.with-border {
    border-bottom: 1px solid #d8dde6;
}
.custom-table {
    border-collapse: collapse;
    width: 100%;
}
.sticky{
    position: sticky;
    bottom: 0;
    background:#F88F34;
    padding: 5px;
    border: 1px solid #F88F34;;
    border-radius: 4px;
    font-weight: 500;
}

.custom-table thead th {
    font-size: 0.75rem;
    font-weight: 600;
    color: #5c6b82;
    border-bottom: 2px solid #d8dde6;
}

.row-divider td {
    border-bottom: 1px solid #d8dde6; 
    /* padding-top: 0.75rem;
    padding-bottom: 0.75rem; */
}

.cell .label {
    font-size: 0.75rem;
    color: #706e6b;
    margin-bottom: 0.25rem;
}

.cell .value {
    font-size: 0.875rem;
    color: #080707;
}
.header-color{
    background-color: #c8c6c6; 
    color:black;
}