.section {
    margin-bottom: 1rem;
}
.mainContainer {
    width: 90% !important; /* Adjust as needed */
    max-width: 90% !important;
    padding:0px;
}
.slds-modal__content{
    min-height:60%;
}
.containerPopUp{
    width: 55% !important; /* Adjust as needed */
    max-width: 90% !important;
    padding:0px;
}
.custom-height{
    min-height:300px;
}
.header-color{
    background-color: #c8c6c6; 
}
.sticky{
    /*position: sticky;*/
    bottom: 0;
    background:#F88F34;
    padding: 5px;
    border: 1px solid #F88F34;;
    border-radius: 4px;
    font-weight: 500;
}
/*.header-title{
    font-size: 25px;
    text-align:center;
}*/

/*.section-title {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}*/
.warning-text {
    color: #8a1538;
    border-left: 4px solid #c23934;
    padding: 6px 10px;
    margin-top: 4px;
    font-size: 12px;
}

.section-title {
    background-color: #f3f2f2;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.field-title{
    color: gray;
    font-size: 12px;
}
.field-value{
    font-size: 14px;
   min-height: 20px;
    height: auto;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}
.with-border {
    border-bottom: 1px solid #d8dde6;
}
.container {
    max-width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
}
 .toolbar {
    text-align:right;
    padding:10px;
     justify-content: flex-end;
    align-items: center;
 }

/* .toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    position: relative; 
} */
.center{
    text-align:center;
    padding-right:8px;

}
.selected-filter {
    font-weight: 500;
    padding-right:8px;
}

.filter-btn {
    position: relative;
}

:host {
    display: block;
    overflow: visible;
}
.outer-card {
    border-radius: 0.5rem;
    padding:0px;
}
.footer-right-cancel{
    font-size:12px;

}
.slds-card{
    padding:0px;
}

/* .card-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #d8dde6;
} */

/* .header-left {
    display: block;
    align-items: center;
    gap: 0.5rem;
} */
.header-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #3e3e3c;
    padding:0px;
}
.header-t{
   font-size: 15px;
   text-align: center;
    border-bottom: 1px solid #d8dde6;
    padding-bottom: 3px;
}
.footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-top: 1px solid #d8dde6; 
    background: #ffffff;
}
.table-border-wrapper {
    border: 1px solid #d8dde6; 
    border-radius: 0.25rem;        
    overflow: auto;               
    background: #ffffff;
    max-height:430px;
    
}

.with-border {
    border-bottom: 1px solid #d8dde6;
}
.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table thead th {
    font-size: 0.75rem;
    font-weight: 600;
    color: #5c6b82;
    border-bottom: 2px solid #d8dde6;
}

.row-divider td {
    border-bottom: 1px solid #d8dde6; 
    /* padding-top: 0.75rem;
    padding-bottom: 0.75rem; */
}

.cell .label {
    font-size: 0.75rem;
    color: #706e6b;
    /* margin-bottom: 0.25rem; */
}

.cell .value {
    font-size: 0.875rem;
    color: #080707;
}

.section {
    margin-bottom: 1rem;
}

/*.section-title {
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}*/
.section-title {
    background-color: #f3f2f2;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.field-title{
    color: gray;
    font-size: 12px;
}
.field-value{
    font-size: 14px;
   min-height: 20px;
    height: auto;
    word-break: break-word;
}
.with-border {
    border-bottom: 1px solid #d8dde6;
}

.full-border-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d8dde6;
}

.full-border-table td {
    border: 1px solid #d8dde6;
    vertical-align: top;
    /* padding: 0.75rem; */
}

.label {
        /* padding-top: 5px; */
        /* padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 5px; */
        font-size: 0.75rem;
        color: #706e6bf6;
        /* margin-bottom: 0.25rem; */
}

.value {
    font-size: 0.875rem;
    color: #080707;
    /* font-weight: 500; */
    word-break: break-word;
    min-height:12px;
    /* padding-left: 5px; */
}

.section-row td {
    background: #c8c6c6;
    /* font-weight: 600; */
    color:black;
}
.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    flex-wrap: nowrap; 
}

.footer-center {
    display: flex;
    gap: 8px;
}

.footer-right {
    display: flex;
    gap: 8px;
}
.custom-container{
    max-height:75%;
}


.error {
    color: #ea001e;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}