.THIS .slds-modal__container {
    width: 70% !important;
    max-width: 70% !important;
    height: auto !important;
}

.THIS .slds-modal__content {
    overflow: hidden !important; 
    max-height: unset !important;
}

.THIS .slds-modal__body {
    overflow: hidden !important;
}
.THIS .widthAdjust {
    width: 500px; 
}