.field-title{
    color: gray;
    font-size: 12px;
}
.field-value{
    font-size: 14px;
   min-height: 20px;
    height: auto;
    word-break: break-word;
}
.with-border {
    border-bottom: 1px solid #d8dde6;
}